# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.env
venv/
.venv/
.env.*

# FastAPI
*.log

# Angular
node_modules/
dist/
.angular/
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db

# VSCode (optional)
.vscode/
